# Logs
*.log

# Dependency directories
node_modules

# Serverless directories
.serverless

# IDE
infrastructure/.idea

# Ansible
infrastructure/*.retry

# Python byte code
infrastructure/*.pyc

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log


.build
report
build
.env
.dynamodb
.webpack
.eslintcache
.idea