service: escenic-cue-live-api

variablesResolutionMode: 20210326
configValidationMode: error

plugins:
  - serverless-auto-swagger
  - serverless-plugin-aws-alerts
  - serverless-plugin-typescript
  - serverless-offline #serverless-offline needs to be last in the list

custom:
  env: ${opt:stage,'stg'}
  proj: ${opt:proj,'ece'} # !TODO
  prefix: ${self:custom.env}-${self:custom.proj}-${self:service}
  queueName: ${self:custom.prefix}
  dynamodbTableName: ${self:custom.prefix}-entries-table
  autoswagger:
    typefiles: ['src/models/cueLiveEntry.ts']
    apiKeyHeaders: ['Authorization']
    apiType: http
    excludeStages: ['prod']
  dynamoTableName:
    ${self:custom.dynamodbTableName}

  alerts:
    stages: # Optionally - select which stages to deploy alarms to
      - prod
      - stg
    definitions:
      functionErrors:
        threshold: 10
        treatMissingData: notBreaching # override treatMissingData
      functionInvocations:
        threshold: 30
        evaluationPeriods: 5
        datapointsToAlarm: 4
        treatMissingData: notBreaching # override treatMissingData
      functionDuration:
        threshold: 180000
        treatMissingData: notBreaching # override treatMissingData
      functionThrottles:
        threshold: 3
        evaluationPeriods: 2
        datapointsToAlarm: 2
        treatMissingData: notBreaching # override treatMissingData
    topics:
      alarm:
        topic: ${cf:${self:custom.env}-${self:custom.proj}-base-sns.InfrastructureMonitoringTopic}
    function:
      - functionErrors
      - functionInvocations
      - functionDuration
      - functionThrottles
      - name: logErrorAlarm
        metric: ErrorLogs
        statistic: Sum
        period: 60 # in seconds
        evaluationPeriods: 1
        comparisonOperator: GreaterThanOrEqualToThreshold
        threshold: 10
        treatMissingData: notBreaching
        pattern: '{$.level>=50}'

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'stg'} # Set the default stage used. Default is dev
  region: eu-central-1 # Overwrite the default region used. Default is us-east-1
  memorySize: 128 # Overwrite the default memory size. Default is 1024
  timeout: 5 # The default is 6 seconds. Note: API Gateway current maximum is 30 seconds
  logRetentionInDays: 7 # Set the default RetentionInDays for a CloudWatch LogGroup
  stackName: ${self:custom.prefix}
  versionFunctions: false # disabled versioning mechanism
  tracing:
    lambda: true
    apiGateway: true
  logs:
    restApi: false
  apiGateway:
    metrics: true
    apiKeys:
      - ${opt:stage}-internal
      - ${self:custom.prefix}-internal
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:DeleteItem
          Resource: '*'
        - Effect: Allow
          Action:
            - sqs:SendMessage
            - sqs:SendMessageBatch
          Resource:
            - !GetAtt Queue.Arn
        - Effect: Allow
          Action:
            - xray:PutTraceSegment
            - xray:PutTraceSegments
            - xray:PutTelemetryRecords
          Resource: '*'

  # you can define service wide environment variables here
  environment:
      STAGE: ${self:provider.stage}
      QUEUE_HOST: 
          Ref: Queue
      BLICK_ESCENIC_CUE_LIVE_ENTRIES_TABLE_NAME: ${self:custom.dynamodbTableName}


# you can add packaging information here
package:
  individually: true
  patterns:
    - '!README.md'
    - '!test/**'

functions:
  listener:
    name: ${self:custom.prefix}-listener
    description: 'The lambda function provides endpoints for saving CUE Live event entries updates to SQS'
    handler: src/handlers/listener.handler
    memorySize: 256 # Overwrite the default memory size. Default is 1024
    timeout: 30 # The default is 6 seconds. Note: API Gateway current maximum is 30 seconds
    tags: # Function specific tags
      Environment: ${self:provider.stage}
      Name: ${self:custom.prefix}-listener
      Project: ${self:custom.proj}
    environment:
      QUEUE_HOST: !Ref Queue
      NODE_ENV: '${self:provider.stage}'
      LOG_LEVEL: debug
    events:
      - http:
          path: '/entry'
          method: post
          private: true
          bodyType: CueLiveEntryFromEngine
  consumer:
    name: ${self:custom.prefix}-consumer
    description: 'The lambda function consumes SQS and transforms CUE Live entries by calling Cook'
    handler: src/handlers/consumer.handler
    timeout: 15 # Timeout for this specific function.  Overrides the default set above.
    tags: # Function specific tags
      Environment: ${self:provider.stage}
      Name: ${self:custom.prefix}-consumer
      Project: ${self:custom.proj} 
    environment:
      STAGE: ${self:provider.stage}
      BLICK_COOK_ENDPOINT: ${ssm:/escenic-cue-live-api/cook/host}
    events:
      - sqs:
          arn: !GetAtt Queue.Arn
          batchSize: 1 # Use 1 to simplify how we handle the errors

  fetcher:
    name: ${self:custom.prefix}-fetcher
    description: 'The lambda function serves as an API for the FrontEnds'
    handler: src/handlers/fetcher.handler
    timeout: 300 # Timeout for this specific function.  Overrides the default set above.
    tags: # Function specific tags
      Environment: ${self:provider.stage}
      Name: ${self:custom.prefix}-fetcher
      Project: ${self:custom.proj} 
    events:
      - http:
          path: '/entries/{eventId}'
          method: get
          queryStringParameters:
            before:
              description: "filters the output to entries published before a certain cursor/pointer"
              type: string
              required: false
            after:
              description: "filters the output to entries published after a certain cursor/pointer"
              type: string
              required: false
            limit:
              description: "limits the size of the output (default 10)"
              type: string
              required: false
          responseData:
            200:
              description: "Array of event entries"
              bodyType: 'CueLiveEntriesResponse'
      - http:
          path: '/entry/{eventId}/{id}'
          method: get
          responseData:
            200:
              description: "An Event Entry"
              bodyType: 'CueLiveEntryResponse'
            404:
              description: "Entry not found"
              bodyType: ''
      - http:
          path: '/test'
          method: get

resources:
  Resources:
    Queue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.queueName}
        VisibilityTimeout: 5
        RedrivePolicy:
          deadLetterTargetArn:
            Fn::GetAtt:
              - 'DeadLetterQueue'
              - 'Arn'
          maxReceiveCount: 5
        Tags:
          - Key: Environment
            Value: ${self:custom.env}
          - Key: Name
            Value: ${self:custom.queueName}
          - Key: Project
            Value: ${self:custom.prefix}

    DeadLetterQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.queueName}-dlq
        MessageRetentionPeriod: 1209600 # 14 days
        VisibilityTimeout: 5

    DynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:custom.dynamoTableName}
        AttributeDefinitions:
          - AttributeName: 'eventId'
            AttributeType: 'N'
          - AttributeName: 'id'
            AttributeType: 'N'
          - AttributeName: 'sticky-publishedDate-id'
            AttributeType: 'S'
        KeySchema:
          - AttributeName: 'eventId'
            KeyType: 'HASH'
          - AttributeName: 'sticky-publishedDate-id'
            KeyType: 'RANGE'
        LocalSecondaryIndexes:
          - IndexName: byEntryId
            KeySchema:
              - AttributeName: eventId
                KeyType: HASH
              - AttributeName: id
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
        Tags: # Function specific tags
          - Key: Environment
            Value: ${self:custom.env}
          - Key: Name
            Value: ${self:custom.dynamoTableName}
          - Key: Project
            Value: ${self:custom.proj}